# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ENV/
.venv/

# R Files
.Rhistory
.RData
.Rproj.user/

# IDE / Editor Files
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Large Archives / Backups
*.zip
*.tar
*.gz
*.7z
*.rar

# Logs
*.log

# Temporary Files
*.tmp
*.bak
